/* MIXINS */
/* VARIABLES */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background: lightblue;
  height: 4em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: lightcoral;
  padding-left: 4rem;
  padding-right: 4rem;
}
.navbar .navbar-left div {
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .navbar .navbar-left {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: lightpink;
  padding-right: 2rem;
  padding-left: 2rem;
  gap: 1rem;
}
.navbar .navbar-right .routers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
}
@media (max-width: 768px) {
  .navbar .navbar-right .routers {
    gap: 1rem;
  }
}
.navbar .navbar-right .soc-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}
.navbar .navbar-right .soc-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar-right .soc-icons div .social-icons {
  width: 1.5rem;
  height: 1.5rem;
}
.navbar .navbar-right .connect-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.navbar .navbar-right .connect-button-box .connect-button {
  border: 2px solid black;
  padding: 0.5rem;
  white-space: nowrap;
}
@media (max-width: 576px) {
  .navbar .navbar-right {
    visibility: hidden;
  }
}
.navbar .hamburger-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 2rem;
  z-index: 10;
}
.navbar .hamburger-box .hamburger-icon {
  font-size: 2rem;
}
@media (min-width: 576px) {
  .navbar .hamburger-box {
    visibility: hidden;
  }
}
.navbar .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  top: 0;
  padding-top: 4rem;
  padding: 1rem;
  padding-top: 4rem;
  gap: 2rem;
  background: lightgreen;
}
.navbar .dropdown-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 3rem;
}
@media (min-width: 576px) {
  .navbar .dropdown-menu {
    visibility: hidden;
  }
}

/* MIXINS */
/* VARIABLES */
/* MIXINS */
/* VARIABLES */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4em;
  padding-right: 1rem;
  padding-left: 1rem;
  gap: 1rem;
  /* this is just for now */
  min-height: 30rem;
  /* this is just for now */
  background: lightgreen;
  /*//// LEFT SECTION ////*/
  /*//// RIGHT SECTION ////*/
}
.banner .home-left {
  background: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: 1rem;
}
.banner .home-left .home-left-welcome {
  border: 2px solid black;
  padding: 0.5rem;
  font-weight: bold;
}
.banner .home-left h1 {
  font-size: 3rem;
  margin: 0;
}
.banner .home-left .home-left-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-weight: bold;
}
.banner .home-left .home-left-connect .right-arrow-svg {
  margin: 0.5rem;
  font-size: 1.2rem;
}
.banner .home-right {
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 1rem;
}
.banner .home-right .programmer-svg {
  width: 17rem;
}

@media (max-width: 576px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
}/*# sourceMappingURL=style.css.map */