/* MIXINS */
/* VARIABLES */
/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 992px) {
} 
*/
.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightblue;
  height: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* LEFT SECTION */
  /* RIGHT SECTION */
  /* HAMBURGER MENU */
}
@media (min-width: 1200px) {
  .navbar {
    padding-right: 3vw;
    padding-left: 3vw;
  }
}
.navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background: lightcoral;
}
@media (min-width: 576px) {
  .navbar .navbar-left {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-left {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-left {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar-left {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
.navbar .navbar-left .navbar-left-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar-left .navbar-left-logo .hacker-svg {
  width: 9rem;
}
@media (min-width: 992px) {
  .navbar .navbar-left .navbar-left-logo .hacker-svg {
    width: 10rem;
  }
}
.navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: lightpink;
  visibility: hidden;
}
@media (min-width: 768px) {
  .navbar .navbar-right {
    visibility: visible;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.7rem;
    gap: 1rem;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-right {
    font-size: 2rem;
  }
}
.navbar .navbar-right .routers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
}
@media (min-width: 992px) {
  .navbar .navbar-right .routers {
    gap: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar-right .routers {
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 5vw;
  }
}
.navbar .navbar-right .soc-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
  display: none;
}
@media (min-width: 992px) {
  .navbar .navbar-right .soc-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar .navbar-right .soc-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .navbar .navbar-right .soc-icons div .social-icons {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.navbar .navbar-right .connect-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.navbar .navbar-right .connect-button-box .connect-button {
  border: 2px solid black;
  padding: 0.5rem;
  white-space: nowrap;
}
.navbar .hamburger-box {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 2rem;
}
@media (min-width: 768px) {
  .navbar .hamburger-box {
    visibility: hidden;
  }
}
.navbar .hamburger-box .hamburger-icon {
  font-size: 3rem;
}
.navbar .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 5rem;
  padding: 1rem;
  padding-top: 8rem;
  gap: 2rem;
  background: lightgreen;
}
@media (min-width: 768px) {
  .navbar .dropdown-menu {
    visibility: hidden;
  }
}

/* MIXINS */
/* VARIABLES */
/* MIXINS */
/* VARIABLES */
/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/
.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 9rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 7rem;
  gap: 1rem;
  min-height: 80vh;
  font-size: 1.5rem;
  background: lightgreen;
  /*//// LEFT SECTION ////*/
  /*//// RIGHT SECTION ////*/
}
@media (min-width: 576px) {
  .home-section {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 768px) {
  .home-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .home-section {
    gap: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1200px) {
  .home-section {
    gap: 2rem;
    padding-top: 11rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.home-section .home-left {
  background: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 150%;
      -ms-flex: 150%;
          flex: 150%;
  height: 100%;
  width: 100%;
  margin: 1rem;
}
.home-section .home-left .home-left-welcome {
  border: 2px solid black;
  padding: 0.5rem;
  font-weight: bold;
}
@media (min-width: 992px) {
  .home-section .home-left .home-left-welcome {
    padding: 1rem;
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .home-section .home-left .home-left-welcome {
    padding: 1.5rem;
    font-size: 2rem;
  }
}
.home-section .home-left h1 {
  font-size: 3rem;
  margin: 0;
}
@media (min-width: 992px) {
  .home-section .home-left h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  .home-section .home-left h1 {
    font-size: 5rem;
  }
}
@media (min-width: 992px) {
  .home-section .home-left p {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .home-section .home-left p {
    font-size: 1.8rem;
  }
}
.home-section .home-left .home-left-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .home-section .home-left .home-left-connect {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .home-section .home-left .home-left-connect {
    font-size: 2rem;
  }
}
.home-section .home-left .home-left-connect .right-arrow-svg {
  margin: 0.5rem;
  font-size: 1.4rem;
}
@media (min-width: 992px) {
  .home-section .home-left .home-left-connect .right-arrow-svg {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .home-section .home-left .home-left-connect .right-arrow-svg {
    font-size: 1.8rem;
  }
}
.home-section .home-right {
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 1rem;
}
.home-section .home-right .programmer-svg {
  width: 17rem;
}
@media (min-width: 992px) {
  .home-section .home-right .programmer-svg {
    width: 22rem;
  }
}
@media (min-width: 1200px) {
  .home-section .home-right .programmer-svg {
    width: 30rem;
  }
}

/* MIXINS */
/* VARIABLES */
/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/
.skills-section {
  background: rgb(238, 238, 142);
  position: relative;
}

.skills {
  /* for now */
  background: lightpink;
  /* for now */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
}
@media (min-width: 576px) {
  .skills {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .skills {
    border-radius: 4rem;
  }
}
@media (min-width: 992px) {
  .skills {
    border-radius: 5rem;
  }
}
@media (min-width: 992px) {
  .skills {
    border-radius: 6rem;
  }
}
.skills h1 {
  font-size: 3rem;
  margin: 0;
}
.skills p {
  font-size: 1.5rem;
  text-align: center;
}
.skills .slider {
  background: lightblue;
  width: 100%;
  height: 10rem;
}

/* MIXINS */
/* VARIABLES */
/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/
.projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  background: lightgreen;
}
.projects h1 {
  font-size: 3rem;
  margin: 0;
}
.projects p {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .projects p {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .projects p {
    width: 50%;
  }
}
.projects .tabs {
  background: rgb(154, 231, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 2px solid black;
}
@media (min-width: 576px) {
  .projects .tabs {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .projects .tabs {
    width: 60%;
  }
}
.projects .tabs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem;
}
.projects .tab-1 {
  background: rgb(255, 165, 232);
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  gap: 1rem;
}
@media (min-width: 576px) {
  .projects .tab-1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .projects .tab-1 {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .projects .tab-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .projects .tab-1 {
    width: 85%;
  }
}
.projects .tab-1 div {
  background: rgb(255, 246, 169);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  /* for now*/
  height: 13rem;
  /* for now*/
}
.projects .tab-2,
.projects .tab-3 {
  background: rgb(255, 165, 232);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.projects .tab-2 .thinker,
.projects .tab-3 .thinker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .tab-2 .thinker .thinker-svg,
.projects .tab-3 .thinker .thinker-svg {
  width: 15rem;
}
@media (min-width: 768px) {
  .projects .tab-2 .thinker .thinker-svg,
.projects .tab-3 .thinker .thinker-svg {
    width: 25rem;
  }
}
.projects .tab-2 p,
.projects .tab-3 p {
  width: 100%;
}
@media (min-width: 992px) {
  .projects .tab-2 p,
.projects .tab-3 p {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .projects .tab-2,
.projects .tab-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
}

/* MIXINS */
/* VARIABLES */
/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/
.contact {
  position: relative;
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  padding-bottom: 8rem;
  gap: 1rem;
  font-size: 1.5rem;
  /* LEFT SECTION */
  /* RIGHT SECTION */
}
@media (min-width: 576px) {
  .contact {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 768px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .contact {
    gap: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1200px) {
  .contact {
    padding: 2rem;
    padding-bottom: 8rem;
  }
}
.contact .contact-left {
  background: rgb(173, 230, 173);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 1rem;
}
@media (min-width: 1200px) {
  .contact .contact-left {
    max-width: 40%;
  }
}
.contact .contact-left .inbox-svg {
  width: 80%;
}
@media (min-width: 576px) {
  .contact .contact-left .inbox-svg {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .contact .contact-left .inbox-svg {
    width: 100%;
  }
}
.contact .contact-right {
  background: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 150%;
      -ms-flex: 150%;
          flex: 150%;
  width: 100%;
  margin: 1rem;
  gap: 1rem;
}
@media (min-width: 768px) {
  .contact .contact-right {
    max-width: 60%;
  }
}
@media (min-width: 1200px) {
  .contact .contact-right {
    max-width: 45%;
  }
}
.contact .contact-right h1 {
  padding: 0.5rem;
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
.contact .contact-right .contact-right-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 1rem;
}
.contact .contact-right .contact-right-name div {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1rem;
  border: 2px solid black;
}
.contact .contact-right .contact-right-email-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 1rem;
}
.contact .contact-right .contact-right-email-phone div {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1rem;
  border: 2px solid black;
}
.contact .contact-right .contact-right-message {
  width: 100%;
}
.contact .contact-right .contact-right-message div {
  min-height: 20vh;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid black;
}
.contact .contact-right .contact-right-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  border: 2px solid black;
}

/* MIXINS */
/* VARIABLES */
/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/
.footer-section {
  background: rgb(238, 238, 142);
  /* UPPER BOX */
  /* BOTTOM PART */
}
.footer-section .footer-build-box {
  /* for now */
  background: lightpink;
  /* for now */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
  gap: 1rem;
}
@media (min-width: 576px) {
  .footer-section .footer-build-box {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .footer-section .footer-build-box {
    border-radius: 4rem;
    padding: 4rem;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .footer-section .footer-build-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 5rem;
    padding: 5rem;
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 4rem;
  }
}
@media (min-width: 1200px) {
  .footer-section .footer-build-box {
    border-radius: 6rem;
    padding: 6rem;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
.footer-section .footer-build-box h1 {
  font-size: 3rem;
  margin: 0;
}
.footer-section .footer-build-box div {
  background: lightblue;
  width: 100%;
  height: 10rem;
}
.footer-section .footer-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: lightgreen;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  gap: 1rem;
  /* LEFT SECTION */
  /* RIGHT SECTION */
}
@media (min-width: 576px) {
  .footer-section .footer-bottom-container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.footer-section .footer-bottom-container .footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-section .footer-bottom-container .footer-bottom-left .up-arrow-svg {
  font-size: 5rem;
}
.footer-section .footer-bottom-container .footer-bottom-right {
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer-section .footer-bottom-container .footer-bottom-right .soc-icons-footer {
  background: lightpink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}
.footer-section .footer-bottom-container .footer-bottom-right .soc-icons-footer .social-icons {
  width: 2.5rem;
  height: 2.5rem;
}
@media (min-width: 576px) {
  .footer-section .footer-bottom-container .footer-bottom-right .soc-icons-footer .social-icons {
    padding: 0.2rem;
  }
}
.footer-section .footer-bottom-container .footer-bottom-right div {
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .footer-section .footer-bottom-container .footer-bottom-right div {
    font-size: 1.5rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
}

.navlink {
  position: absolute;
  top: -8rem;
}

.navlink-t2 {
  top: -16rem;
}/*# sourceMappingURL=style.css.map */