@import "./variables";

.home-section {
  @include flexCenter;
  padding-top: $navbarHeight;
  padding-right: 1rem;
  padding-left: 1rem;
  gap: 1rem;
  min-height: 80vh;
  padding-bottom: 4rem;
  @media (min-width: 992px) {
    font-size: 1.5rem;
  }
  @media (max-width: 576px) {
    flex-direction: column;
  }

  background: lightgreen;

  /*//// LEFT SECTION ////*/
  .home-left {
    background: lightcoral;
    @include flexCenter;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 1rem;
    @media (min-width: 992px) {
      font-size: 2rem;
    }

    .home-left-welcome {
      border: 2px solid black;
      padding: 0.5rem;
      font-weight: bold;
      @media (min-width: 992px) {
        font-size: 3rem;
      }
    }

    h1 {
      font-size: 3rem;
      @media (min-width: 992px) {
        font-size: 6rem;
      }
      margin: 0;
    }

    .home-left-connect {
      @include flexCenter;
      padding: 1rem;
      font-weight: bold;

      .right-arrow-svg {
        margin: 0.5rem;
        font-size: 1.2rem;
        @media (min-width: 992px) {
          font-size: 2.4rem;
        }
      }
    }
  }

  /*//// RIGHT SECTION ////*/
  .home-right {
    background: lightblue;
    @include flexCenter;
    height: 100%;
    width: 100%;
    margin: 1rem;

    .programmer-svg {
      width: 17rem;
      @media (min-width: 992px) {
        width: 34rem;
      }
    }
  }
}
