@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.home-section {
  @include flexCenter;
  flex-direction: column;
  padding-top: $navbarHeight + 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 7rem;
  gap: 1rem;
  min-height: 80vh;
  font-size: 1.5rem;
  //tablet//
  @media (min-width: 576px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  //laptop//
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0;
    padding-right: 0;
    padding-left: 0;
  }
  //desktop//
  @media (min-width: 992px) {
    gap: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  //large//
  @media (min-width: 1200px) {
    gap: 2rem;
    padding-top: $navbarHeight + 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  background: lightgreen;

  /*//// LEFT SECTION ////*/
  .home-left {
    background: lightcoral;
    @include flexCenter;
    flex-direction: column;
    align-items: flex-start;
    flex: 150%;
    height: 100%;
    width: 100%;
    margin: 1rem;

    .home-left-welcome {
      border: 2px solid black;
      padding: 0.5rem;
      font-weight: bold;
      //desktop//
      @media (min-width: 992px) {
        padding: 1rem;
        font-size: 1.7rem;
      }
      //large//
      @media (min-width: 1200px) {
        padding: 1.5rem;
        font-size: 2rem;
      }
    }

    h1 {
      font-size: 3rem;
      margin: 0;
      margin-top: 1rem;
      //desktop//
      @media (min-width: 992px) {
        font-size: 4rem;
      }
      //large//
      @media (min-width: 1200px) {
        font-size: 5rem;
      }
    }

    p {
      line-height: 2.7rem;

      @media (min-width: 992px) {
        font-size: 1.6rem;
      }
      //large//
      @media (min-width: 1200px) {
        font-size: 1.8rem;
      }
      span {
        font-weight: bold;
      }
    }

    .home-left-connect {
      @include flexCenter;
      padding: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
      @media (min-width: 992px) {
        font-size: 1.7rem;
      }
      //large//
      @media (min-width: 1200px) {
        font-size: 2rem;
      }

      .right-arrow-svg {
        margin: 0.5rem;
        font-size: 1.4rem;
        @media (min-width: 992px) {
          font-size: 1.6rem;
        }
        //large//
        @media (min-width: 1200px) {
          font-size: 1.8rem;
        }
      }
    }
  }

  /*//// RIGHT SECTION ////*/
  .home-right {
    background: lightblue;
    @include flexCenter;
    height: 100%;
    width: 100%;
    margin: 1rem;

    .programmer-svg {
      width: 17rem;
      @media (min-width: 992px) {
        width: 22rem;
      }
      //large//
      @media (min-width: 1200px) {
        width: 30rem;
      }
    }
  }
}
