@import "./variables";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include flexCenter;
  width: 100%;
  background: lightblue;
  height: $navbarHeight;
  justify-content: space-between;

  .navbar-left {
    @include flexCenter;
    height: 100%;
    background: lightcoral;

    padding-left: 4rem;
    padding-right: 4rem;
    @media (max-width: 576px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @media (max-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media (min-width: 992px) {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    div {
      font-weight: bold;
      font-size: 2rem;
      @media (max-width: 576px) {
      }
      @media (max-width: 768px) {
        font-size: 2rem;
      }
      @media (min-width: 992px) {
        font-size: 4rem;
      }
    }
  }
  /* change it all to mobile first... */
  .navbar-right {
    @include flexCenter;

    height: 100%;
    background: lightpink;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 1rem;
    @media (max-width: 576px) {
      visibility: hidden;
    }
    @media (max-width: 768px) {
    }
    @media (min-width: 992px) {
    }

    .routers {
      @include flexCenter;
      height: 100%;
      width: 100%;
      gap: 2rem;
      @media (max-width: 768px) {
        gap: 1rem;
      }
    }

    .soc-icons {
      @include flexCenter;
      height: 100%;
      width: 100%;
      gap: 0.5rem;

      div {
        @include flexCenter;
        .social-icons {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .connect-button-box {
      @include flexCenter;
      height: 100%;
      width: 100%;

      .connect-button {
        border: 2px solid black;
        padding: 0.5rem;
        white-space: nowrap;
      }
    }
  }

  .hamburger-box {
    @include flexCenter;
    position: absolute;
    right: 2rem;
    z-index: 10;
    @media (min-width: 576px) {
      visibility: hidden;
    }

    .hamburger-icon {
      font-size: 2rem;
    }
  }

  .dropdown-menu {
    @include flexCenter;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 0;
    padding-top: 4rem;
    padding: 1rem;
    padding-top: 4rem;
    gap: 2rem;
    background: lightgreen;
    @media (min-width: 576px) {
      visibility: hidden;
    }

    div {
      @include flexCenter;
      width: 100%;
      height: 100%;
      font-size: 3rem;
    }
  }
}
