@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.skills-section {
  background: rgb(238, 238, 142);
  position: relative;
}

.skills {
  /* for now */
  background: lightpink;
  /* for now */
  @include flexCenter;
  flex-direction: column;
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
  //tablet//
  @media (min-width: 576px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  //laptop//
  @media (min-width: 768px) {
    border-radius: 4rem;
  }
  //desktop//
  @media (min-width: 992px) {
    border-radius: 5rem;
  }
  //large//
  @media (min-width: 992px) {
    border-radius: 6rem;
  }
  h1 {
    font-size: 3rem;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
  }

  .slider {
    background: lightblue;
    width: 100%;
    height: 10rem;
  }
}
